DATABASE_URL="mysql://avnadmin:<AIVEN_DB_PASSWORD>@myllm-under23-understandingllm.a.aivencloud.com:10368/defaultdb?ssl-mode=REQUIRED"
JWT_SECRET="run-openssl-rand-hex-32"
REFRESH_SECRET="run-openssl-rand-hex-32-different-value"
CORS_ORIGIN="https://placeholder.vercel.app"
COOKIE_DOMAIN=""
NODE_ENV="production"
PORT=10000
